/* -----------------------------------------------------
 * gruvbox colors 
 * ----------------------------------------------------- */
@define-color background #282828;
@define-color background-alt #353535;
@define-color foreground #EBDBB2;
@define-color selected #83A598;
@define-color active #B8BB26;
@define-color urgent #FB4934;

/* -----------------------------------------------------
 * General 
 * ----------------------------------------------------- */

* {
  border: none;
  border-radius: 0;
  font-family: 'JetbrainsMono Nerd Font';
  font-size: 10px;
  min-height: 10px;
}

#cpu,
#memory,
#window,
#tray,
#backlight,
#battery,
#pulseaudio,
#temperature,
#clock,
#custom-power,
#custom-left,
#custom-right {
  background-color: rgba(40, 40, 40, 0.7);
  padding: 0px 5px;
  margin: 4px 0px;
}

/* -----------------------------------------------
 * waybar window
 * --------------------------------------------- */

window#waybar {
  background-color: rgba(40, 40, 40, 0.2);
  border-bottom: 0px solid #282828;
  transition-property: background-color;
  transition-duration: 0.5s;
}

window#waybar.hidden {
  opacity: 0.2;
}

window#waybar.empty #window {
  border: none;
}

/* -----------------------------------------------------
 * Workspaces 
 * ----------------------------------------------------- */

#workspaces {
  background: @background;
  margin: 4px 1px;
  padding: 0px 1px;
  border-radius: 15px;
  border: 0px;
  font-weight: bold;
  font-style: normal;
  opacity: 0.8;
  font-size: 14px;
  color: @foreground;
}

#workspaces button {
  padding: 1.5px 1px;
  margin: 4px 3px;
  border-radius: 40px;
  border: 0px;
  color: @foreground;
  background: @foreground;
  transition: all 0.5s ease-in-out;
  opacity: 0.4;
}

#workspaces button.active {
  color: @active;
  background: @active;
  border-radius: 15px;
  min-width: 25px;
  transition: all 0.5s ease-in-out;
  opacity: 1;
}

#workspaces button:hover {
  color: @foreground;
  background: @foreground;
  border-radius: 15px;
  opacity: 0.8;
}

#workspaces button.urgent {
  color: @urgent;
  background-color: @urgent;
  opacity: 1;
}

/* -----------------------------------------------------
 * Tooltips
 * ----------------------------------------------------- */

tooltip {
  background-color: @background;
  opacity: 0.8;
  padding: 10px;
  margin: 1px;
}

tooltip label {
  color: @foreground;
}

tooltip * {
  border-radius: 10px;
}

/* -----------------------------------------------------
 * Window
 * ----------------------------------------------------- */

#window {
  color: @foreground;
  transition: none;
}

/* -----------------------------------------------------
  * Battery
  * ---------------------------------------------------- */

#battery {
  color: #c7ca15;
}

#battery.charging,
#battery.plugged {
  color: #b8bb26;
}

@keyframes blink {
  to {
    color: @foreground;
  }
}

#battery.critical:not(.charging) {
  color: @urgent;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

/* -----------------------------------------------------
 * Pulseaudio
 * ----------------------------------------------------- */

#pulseaudio {
  color: #ea879d;
}

#pulseaudio.muted {
  background-color: @foreground;
  color: @background;
}

@keyframes blink {
  to {
    background-color: @urgent;
    color: @selected;
  }
}

/* -----------------------------------------------------
 * Brightness
 * ----------------------------------------------------- */

#backlight {
  color: #ff8b49;
  transition: none;
}

/* -----------------------------------------------------
 * Clock
 * ----------------------------------------------------- */

#clock {
  color: #73b580;
  font-size: 12px;
}

#memory {
  color: #c49410;
  transition: none;
}

#temperature {
  color: #eebd35;
  transition: none;
}

#temperature.critical {
  color: #ff0000;
}

#cpu {
  color: @foreground;
  transition: none;
}

#custom-power {
  font-size: 16px;
  padding-right: 10px;
  transition: none;
  color: @foreground;
}

#custom-left {
  border-radius: 45px 0px 0px 45px;
  margin-left: 6px;
  padding-left: 0px;
}

#custom-right {
  border-radius: 0px 45px 45px 0px;
  margin-right: 6px;
  padding-right: 0px;
}

/* -----------------------------------------------------
 * Tray
 * ----------------------------------------------------- */

#tray {
  transition: none;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
}
