/* -----------------------------------------------------
 * gruvbox colors 
 * ----------------------------------------------------- */
@define-color foreground #F2DBB9;
@define-color background-alt #282828;
@define-color background #282828;
@define-color selected #83A598;
@define-color active #B8BB26;
@define-color urgent #FB4934;

/* -----------------------------------------------------
 * General 
 * ----------------------------------------------------- */

* {
  border: none;
  border-radius: 10px;
  font-family: 'JetbrainsMono Nerd Font';
  font-size: 12px;
  min-height: 2px;
  padding: 0px;
}

#tray,
#cpu,
#custom-updates,
#custom-power {
  background-color: transparent;
  padding: 1px 4px;
  margin: 2px 0px;
}

/* -----------------------------------------------
 * waybar window
 * --------------------------------------------- */

window#waybar {
  background-color: rgba(40, 40, 40, 0.9);
  transition-property: background-color;
  transition-duration: 0.5s;
}

window#waybar.hidden {
  opacity: 0.2;
}

window#waybar.empty #window {
  border: none;
}

/* -----------------------------------------------------
 * Workspaces 
 * ----------------------------------------------------- */

#workspaces {
  background-color: transparent;
  /* background-color: @background; */
  padding: 0px;
  margin: 2px 0px;
}

#workspaces button {
  padding: 0px 0px 0px 1px;
  color: @foreground;
  background: transparent;
  transition: all 0.5s ease-in-out;
  opacity: 0.7;
  margin: -2px;
}

#workspaces button label {
  font-size: 20px;
  padding: 0px;
  margin: -10px;
}

#workspaces button.active {
  color: @active;
  background: transparent;
}

/* #workspaces button.active label {
  font-size: 10px;
  background-image: url('./icons/bar-icons.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30px;
} */

#workspaces button.urgent {
  color: @urgent;
  background-color: transparent;
}

#workspaces button.urgent label {
  font-size: 12px;
}

/* -----------------------------------------------------
 * Tooltips
 * ----------------------------------------------------- */

tooltip {
  background-color: @background;
  opacity: 0.8;
  padding: 10px;
  margin: 1px;
}

tooltip label {
  color: @foreground;
}

tooltip * {
  border-radius: 10px;
}

/* -----------------------------------------------------
 * Window
 * ----------------------------------------------------- */

#window {
  color: @foreground;
  transition: none;
}

/* -----------------------------------------------------
  * Battery
  * ---------------------------------------------------- */

#battery {
  background-color: transparent;
  /* background-color: @background; */
  color: @foreground;
  font-size: 15px;
  padding: 0px 4px;
  margin: 2px 0px;
}

#battery.charging,
#battery.plugged {
  color: @foreground;
}

@keyframes blink {
  to {
    color: @foreground;
  }
}

#battery.critical:not(.charging) {
  color: @urgent;
  /* animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate; */
}

/* -----------------------------------------------------
 * Clock
 * ----------------------------------------------------- */

#clock {
  color: @background;
  background-color: @foreground;
  padding: 0px 6px;
  margin: 2px 0px;
}

#custom-power {
  padding-right: 10px;
  transition: none;
  color: @foreground;
}

#custom-left {
  background-color: transparent;
  /* background-color: @background; */
  border-radius: 25px 0px 0px 25px;
  margin: 2px 0px 2px 6px;
  padding: 0px 2px;
}

#custom-right {
  background-color: transparent;
  /* background-color: @background; */
  border-radius: 0px 25px 25px 0px;
  margin: 2px 6px 2px 0px;
  padding: 0px 2px;
}

/* -----------------------------------------------------
 * Tray
 * ----------------------------------------------------- */

#tray {
  color: @foreground;
  transition: none;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
}

#custom-updates {
  color: @foreground;
}
